<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  <aside class="menu white-bg down">
    <section class="main-content menu-content img-class">
      <a href="/"><h1><img src="../../assets/img/logoSemFundo.png" alt="logo"></h1></a>
      <h6>Rede de Aplicação de ciência e tecnologia</h6>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Sobre</a></li>
          <li><a href="/">contato</a></li>
        </ul>
      </nav>
    </section>
  </aside>

<div class="container">
  <div class="slider">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <div class="slide first">
        <img src="../../assets/img/OqueEaReact.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../../assets/img/OqueEaReact.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../../assets/img/OqueEaReact.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../../assets/img/OqueEaReact.jpg" alt="">
      </div>
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
    </div>
    <div class="manual-navigation">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>

    </div>
  </div>
</div>    
<section class="section"></section>
    <script src="./assets/js/bundle.js"></script>
    <script src="./assets/js/script.js"></script>
</body>
</html>