<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  <aside class="menu white-bg">
    <section class="main-content menu-content img-class">
      <a href="/"><h1><img src="../../assets/img/logoSemFundo.png" alt="logo"></h1></a>
      <h6>Rede de Ciência e tecnologia</h6>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Sobre</a></li>
          <li><a href="/">contato</a></li>
        </ul>
      </nav>
    </section>
  </aside>
</section>    
<section class="section white-bg"></section>
<section class="section blue-bg"></section>
<section class="main-bg bg-escuro blue-bg section">
  <div class="main-content">
    <a href="/"><h1>React</h1></a>
    <h3>Rede de ciência e tecnologia</h3>
  </div>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>